.menu {
  padding: 0 15px;
}

.menu-group {
  padding: 10px 0px;
  border-bottom: 1px solid #ebecef;
  margin: 0;
}

.menu-group > li > a {
  color: #61687a;
  padding: 0px;
}

.menu-group > li > a:hover {
  color: #383d48;
}

.menu :last-child {
  border-bottom: none;
  margin-bottom:0;
}

a .fa-user-circle-o {
  margin-right: 7px;
  margin-left: -1px;
}

a .fa-file-text-o{
  margin-right: 8px;
}

a .fa-lock {
  margin-right: 8px;
  margin-left: 2px;
}

a .fa-envelope-o {
  margin-right: 5px;
}
a .fa-th-large {
  margin-right: 5px;
  margin-left: 1px;
}

a .fa-list-alt {
  margin-right: 4px;
  margin-left: 1px
}
a .fa-credit-card {
  margin-right: 3px;
  margin-left: 1px;
}

a .fa-truck {
  margin-right: 4px;
  margin-left: 1px;
}

a .fa-handshake-o {
  margin-right: 1px;
}