html, body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  color: #373d48;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  background: #ebeced;
}
a {
  color: #4978b3;
}
a:hover {
  /* just a random darker color for hover */
  color:#3967a0;
}

li a:hover {
  color: #383d48;
}
input.fancy-button {
  background-color: #4f7eb8;
  border: 1px solid #4b77ad;
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}
input[type="radio"] {
  margin: 5px;
}
label {
  color: #4f535e;
  font-size: 13px;
  margin-bottom: 5px;
}
p {
  margin-bottom: 5px;
}
small {
  color: #9da1ab;
  font-size: 13px;
}
.bold {
  font-weight: bold;
}
.button-blue {
  background: #4f7eb8!important;
}
.text-center {
  text-align: center;
}

/* 
  custom css to fix flexbox issues with milligram. 
  NOTE: this was done for this assignment specifically and will not work if the column size is changed
*/

@media (max-width: 40rem) {
  .row .column.column-20.column-offset-10.column-collapse, .column.column-50.column-collapse {
    margin-bottom: inherit;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 70rem) {
  .row .column.column-offset-10 {
    margin-left: 0;
  }
  .row .column.column-50 {
    max-width: 100%;
    flex: 0 0 80%;
  }
}
