.tile {
  background: white;
  border-radius: 3px;
  margin-top: 10px;
}

.tile-head {
  color: #4b4f5d;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 25px;
  border-bottom: 1px solid #ebecef;
}